.card {
  text-decoration: none;
}

.card-img {
  width: 100%;
  padding-bottom: 150%;
  transition: transform 0.48s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.card-img.loading {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeleton;
  animation-timing-function: linear;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: #f2f2f2;
  background: linear-gradient(to right, #f0f0f0 8%, #f4f4f4 38%, #f0f0f0 54%);
  background-size: 1000px 640px;
}

@keyframes skeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.card:hover .card-img {
  transform: translate3d(0, -4px, 0);
}

.card-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
}

@media (max-width: 848px) {
  .card-img {
    padding-bottom: 100%;
  }
}
